title
{
  background-color: light yellow;
}

#para
{
  color: red;
  font-size: 200%;
}       

H1
{
  text-allign: center;
}
 
body
{
    background-color: grey;
}
form
{
  width: 600px;
}