body {
    background: url('nature.jpg') no-repeat;
    background-size: none;
    margin-left:00%;
   }
   
   ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
   }
   
   ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover {
    background-color:skyblue;
   }
   
   ul li ul li{
    display: none;
   }
   
   ul li:hover ul li {
    display: block;
   }